<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.png" width="45" height="45" class="d-inline-block align-top" alt="">
      <h3 style="display: inline;">daneradarowe.pl</h3>
      <button type="button" class="btn btn-outline-danger">
        Wesprzyj daneradarowe.pl na Patronite!
    </button>
    </a>
  </nav> -->
<div class="row">
    <div class="col-12 header-content">
        <div class="scan-info-wrapper">
            <h4>POLCOMP</h4>
            <h5>CMAX(dBZ)</h5>
            <h5>19:30 11.08.2017</h5>
        </div>
        <button type="button" class="btn btn-outline-primary shadow-none">Zmień radar</button>
    </div>
</div>
<div class="row color-scale flex-nowrap">
  <div class='col scale-element' style='background-color: #0000c7;'></div>
  <div class='col scale-element' style='background-color: #0034fe;'></div>
  <div class='col scale-element' style='background-color: #0079fe;'></div>
  <div class='col scale-element' style='background-color: #1aa2fe;'></div>
  <div class='col scale-element' style='background-color: #53d0fe;'></div>
  <div class='col scale-element' style='background-color: #86f0fe;'></div>
  <div class='col scale-element' style='background-color: #fefefe;'></div>
  <div class='col scale-element' style='background-color: #fef7c0;'></div>
  <div class='col scale-element' style='background-color: #fee500;'></div>
  <div class='col scale-element' style='background-color: #febc00;'></div>
  <div class='col scale-element' style='background-color: #fe7300;'></div>
  <div class='col scale-element' style='background-color: #fe3f00;'></div>
  <div class='col scale-element' style='background-color: #c70000;'></div>
  <div class='col scale-element' style='background-color: #a00000;'></div>
  <div class='col scale-element' style='background-color: #800000;'></div>
  <div class='col scale-element' style='background-color: #be0078;'></div>
  <div class='col scale-element' style='background-color: #e600aa;'></div>
  <div class='col scale-element' style='background-color: #ff28dc;'></div>
</div>