<a class="dropdown-item product-item" href="#">
    <div class="product-item-wrapper">
        <div class="product-item-info">
            <h5 class="product-item-header">{{product.fullName}}</h5>
            <p class="product-item-description">{{'Zasięg: '+ product.scan.range + 'km'}}</p>
        </div>
        <div class="product-item-selector" *ngIf="product.variants.length > 1">
            <div class="dropdown" (click)="disablePropagation($event)">
                <div class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">{{product.variants[0].propertyValue + product.variants[0].propertyUnit}}</div>
                <div class="dropdown-menu">
                    <p class="dropdown-item" *ngFor="let variant of product.variants">{{variant.propertyValue + variant.propertyUnit}}</p>
                </div>
            </div>
        </div>
    </div>
</a>