<a class="dropdown-item product-item" href="#">
    <div class="product-item-wrapper">
        <div class="product-item-info">
            <h5 class="product-item-header">{{product.name}}</h5>
            <p class="product-item-description">{{'Zasięg: '+ product.range + 'km'}}</p>
        </div>
        <div class="product-item-selector">
            <div class="dropdown" (click)="disablePropagation($event)">
                <div class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">0.5°</div>
                <div class="dropdown-menu">
                    <p class="dropdown-item">0.5°</p>
                    <p class="dropdown-item">0.8°</p>
                    <p class="dropdown-item">1.4°</p>
                    <p class="dropdown-item">2.2°</p>
                </div>
            </div>
        </div>
    </div>
</a>