/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    // width: 100vw;
    // height: 100vh;
    width: 100%;
    height: 100%;
}

// body {
//     min-height: 100vh;
//     min-height: -webkit-fill-available;
//   }

// html {
//     height: -webkit-fill-available;
// }

.radar-marker {
    background-color: rgb(255, 255, 255);
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

.radar-marker.selected {
    color: white;
    background-color: rgb(75, 75, 75);
}

* {
    font-family: Quicksand;
}